/bin
/.settings
/.classpath
/.DS_Store
/.project
/src/.DS_Store
/src/com/.DS_Store
/src/com/tlf/.DS_Store
/src/assets/.DS_Store
/src/assets/apache/.DS_Store
/src/assets/apache/sounds/.DS_Store
/src/assets/apache/textures/.DS_Store
/src/assets/apache/textures/entity/.DS_Store